include utils
doctype html
head
  meta(charset='utf8')
  link(href='../styles/board.scss' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans|Fira+Sans|Open+Sans|Oranienbaum' rel='stylesheet')
table.schedule
  thead.horizontal
    tr
      td
        div#name
        div#label
    tr
      td.hr(colspan='2')
        hr
  tbody#boot
    tr
      td
        +icon('spinner')
.options
  form
    fieldset
      legend#layout
      dl(id='layoutType')
        dt
          label(for='layoutType')
        dd
          select(name='layoutType')
            each variable in ['Default', 'Vertical']
              option(value=variable.toLowerCase()) #{variable}
      dl(id='borderSpacing')
        dt
          label(for='borderSpacing')
        dd
          input(type='number' name='borderSpacing' value=3 min=0 max=10)
      dl(id='padding')
        dt
          label(for='padding')
        dd
          input(type='number' name='padding' value=5 min=0 max=10)
      dl(id='spacing')
        dt
          label(for='spacing')
        dd
          input(type='number' name='spacing' value=10 min=0 max=30)
      dl(id='header')
        dt
          label(for='header')
        dd
          select(name='header')
            each variable in ['Horizontal', 'Vertical', 'Disabled']
              option(value=variable.toLowerCase()) #{variable}
      dl(id='footer')
        dt
          label(for='footer')
        dd
          select(name='footer')
            each variable in ['Enabled', 'Disabled']
              option(value=variable.toLowerCase()) #{variable}
      dl(id='dividers')
        dt
          label(for='dividers')
        dd
          select(name='dividers')
            each variable in ['Enabled', 'Disabled']
              option(value=variable.toLowerCase()) #{variable}
    button(type='button' id='print')
script(type='module' src='../pages/board.js')